.box{
    border: 2px dotted plum;
    width: 500px;
}
/* .two{
    position: relative;
    left: 50px;
    top: 40px;
} */

/* .two{
    position: absolute;
    top:0px;
} */
.two{
    position: sticky;
    top: 0;
}
.dummy{
    width: 500px;
    height: 250px;
    border: 1px solid red;
}
.dymmy2nd{
    width: 500px;
    height: 250px;
    border: 2px solid blue;
}
p::first-letter{
    font-size: 2em;
}
p::first-line{
    background-color: red;
}
p::selection{
    background-color: gray;
}
input::placeholder{
    color: red;
}